*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 40px;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: none;
    
}


ul li{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
}

div{
    border:1px solid grey;
    display: inline-block;
    margin: 10px 200px;
    padding: 20px;
}
 
.title{
    text-align: center;
}

table{
   width: 50%;
   border: 2px solid grey;
   margin-top: 20px;
   background-color: aliceblue;
   border-collapse: collapse;
   margin-left: auto;
  margin-right: auto;
  height: 50vh;
}

td,th{
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form{
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    padding: 50px;
    border-radius: 5px;
    background-color: aliceblue;
    margin-top: 40px;

}
form input{
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    margin:10px;

}




